*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

.columnsContainer, footer { position: relative; margin: .5em; }

.rightColumn, .leftColumn, footer {  border: 1px solid  #ccc; padding: 1.25em; }

.leftColumn { margin-bottom: .5em; }

@media screen and (min-width: 47.5em ) {
  .rightColumn { margin-left: 19.5em; }

	.leftColumn { position: absolute; top: 0; left: 0; width: 18.75em; }   
}